// Color
$grey-222: #232836;
$grey-333: #333C4F;
$grey-666: #68757d;
$grey-999: #9aa5ab;
$grey-ccc: #cdd0d1;
$grey-eee: #eeeeee;
$grey-f0f0f0: #f0f1f2;
$grey-f5f5f5: #f5f6f7;
$grey-fafafa: #fafafc;
$grey-fdfdfd: #fdfdfd;
$cyan: #1aa7ba;
$green: #7da87b;
$cyan-dark: darken($cyan, 5%);
$yellow: #ffd96a;
$red: #eb4f34;
$white: #fff;

// Text
$text: $grey-333;
$text-light: $grey-666;
$text-lighter: $grey-999;

// Font
$font-size: 16px;
$font-family: system-ui, -apple-system, sans-serif;
$font-family-duration: 'Roboto', 'Arial', sans-serif;
$line-height: 1.5;

// Border
$border: $grey-f0f0f0;

// background
$background: $white;
$background-dark: #3f4961;

// Animation
$animation-duration: .25s;

// Mediaqueries
$breakpoints: (
  'small': 640px
);

// ZIndex
$z:
  calendar-dragging-activity, // low
  calendar-ruler,
  content-header,
  calendar-day-header,
  timer-form,
  tooltip,
  pwa-popover,
  modal,
  toast,
  side-bar, // high
;

// Sidebar
$side-bar-min-width: calc(80px + env(safe-area-inset-left));
$side-bar-min-height: calc(65px + env(safe-area-inset-top));
